@model  IEnumerable<App.Entities.Base.Producto>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de productos</h2>

@using (Html.BeginForm())
{
    <input name="filterByName" class="form-control" value="@ViewBag.filterByName" />
    <br />
    <button class="btn btn-primary">Buscar por Nombre</button>

    <input name="filterByCategoria" class="form-control" />
    @Html.DropDownList("FilterByCategoria", new SelectList(ViewBag.Categoria, "CategoriaId", "Nombre"),"Todos"
    , new {@class ="form-control"} )
    <br />

    <button class="btn btn-primary"  type="button" id="btnConsultar" >Buscar </button>
}

<table class="table">
    <tr>
        <td>Código</td>
        <td>Nombre</td>
        <td>Categoría</td>
        <td>Marca</td>
        <td>Precio Mayor</td>
        <td>Precio Menor</td>
        <td>Stock Actual</td>
    </tr>

    @foreach (var item in Model)
            {
    <tr>
        <td>@item.ProductoCode</td>
        <td>@item.Nombre</td>
        <td>@item.Categoria.Nombre</td>
        <td>@item.Marca.Nombre</td>
        <td>@item.PrecioMayor</td>
        <td>@item.PrecioMenor</td>
        <td>@item.StockActual</td>
    </tr>
             }
</table>

@section ScriptsAdicionales{
 <script type="text/javascript" >

     $(document).ready(configInit);

     function configInit() {
         $("#btnConsultar").on("click", buscar);
     }

     function buscar() {
         $.post(("@Url.Action("Index2","Producto")"),
             {
                 filterByname: $("#filterByName").val(),
                 filterByCategoria $("#filterByCategoria").val(),
             },

             function (response) {

             }
         )
     }


 </script>
}



